.loginForm__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 30px;
    margin: 30px 0 10px 0;
    cursor: pointer;

    font-size: 16px;

    background: #303030;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;

    @include regular;
}

.loginForm__btn:hover {
    border: 2px solid black;
}