/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.login {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 56, 56, 0.26)), to(rgba(188, 188, 188, 0.04)));
  background: linear-gradient(180deg, rgba(56, 56, 56, 0.26) 0%, rgba(188, 188, 188, 0.04) 100%);
}

.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 850px;
  height: 400px;
  background: linear-gradient(116.11deg, rgba(255, 255, 255, 0.4) 19.97%, rgba(255, 255, 255, 0.1) 83.18%);
  -webkit-box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.loginForm__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.loginForm__text {
  color: #303030;
}

.loginForm__title {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.loginForm__subtitle {
  text-align: center;
  margin: 10px 0 50px 0;
}

.loginForm__subtitle h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 500px) {
  .loginForm {
    height: 100%;
    border-radius: 0;
    padding: 0 10px;
  }
  .loginForm__title {
    font-size: 34px;
    line-height: 38px;
  }
  .loginForm__subtitle h2 {
    font-size: 14px;
  }
}

.loginForm__input {
  width: 200px;
  height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.loginForm__input-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.inputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.inputBlock p {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputBlock:nth-child(1) {
  margin-bottom: 15px;
}

.loginForm__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 30px;
  margin: 30px 0 10px 0;
  cursor: pointer;
  font-size: 16px;
  background: #303030;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.loginForm__btn:hover {
  border: 2px solid black;
}

.loginForm-register button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  background: transparent;
  border: none;
  outline: none;
}

.loginModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.loginModalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 343px;
  height: 140px;
  padding: 46px 30px;
  background: #303030;
  color: #FFF;
}

.closeModal {
  position: fixed;
  width: 343px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: transparent;
  border: none;
  outline: none;
}

.closeModal button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 0;
  width: 10px;
  height: 10px;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nCalendar__header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #303030;
  border-bottom: 1px solid white;
}

.nCalendar__container {
  all: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 2000px;
  padding: 0 25px 0 40px;
}

.nCalendar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nCalendar__logo p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
  color: #FFF;
}

.nCalendar__header-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nCalendar__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nCalendar__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #303030;
  width: 345px;
  padding: 0 40px;
  height: 100vh;
}

.nCalendar__event {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  padding: 0 20px;
}

.add__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 265px;
}

.add__select {
  width: 100%;
  height: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #303030;
  margin: 100px 0 10px 0;
  border-radius: 6px 6px 0px 0px;
}

.add__option {
  color: #303030;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.add__option:nth-child(1) {
  display: none;
}

.add__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
  height: 306px;
}

.react-calendar {
  height: 306px;
  border-radius: 0px 0px 6px 6px;
}

.react-calendar__navigation__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.react-calendar__tile.react-calendar__month-view__days__day {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.react-calendar__navigation {
  margin-bottom: 5px !important;
}

.events {
  width: 100%;
  padding: 0 1px;
  max-height: 786px;
  border: 2px solid #303030;
  border-radius: 5px;
  overflow: auto;
}

.events__date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #F5F5F5;
  margin: 15px 15px;
  height: 120px;
}

.event__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__empty {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.event__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.event__body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.event__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

@media screen and (max-width: 770px) {
  .event {
    height: 170px;
  }
  .event__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    height: 70px;
  }
  .nCalendar__add {
    padding: 0 10px;
  }
}

.ButtonCalendar {
  width: 106px;
  height: 30px;
  background: #5F5F5F;
  color: white;
  -webkit-box-shadow: 0px 2px 29px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 29px -1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.InputCalendar__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px;
}

.InputCalendar__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 25px;
  overflow: auto;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.InputCalendar__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 80px;
  overflow: auto;
  border: 1px solid #000;
  border-radius: 5px;
  resize: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.newevent {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.newevent__content {
  background: #FFF;
  border-radius: 15px;
  width: 400px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newevent__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

.newevent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.openEvent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: none;
}

.openEvent__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  width: 900px;
  overflow: auto;
  margin: 0 20px;
  padding: 10px 0 20px 0;
  border: 2px solid #303030;
  border-radius: 5px;
}

.openEvent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.openEvent__header {
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.openEvent__main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.openEvent__body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  padding: 0 40px;
}

.openEvent__edit {
  display: none;
}

.openEvent__edit.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 200px;
  background: #FFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.profile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */