@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@mixin thin {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
}

@mixin light {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

@mixin regular {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}