.calendar-dela {
    padding: 5px 15px;
    border: 2px solid #303030;
    width: 348px;
    max-height: 400px;
    @include light;
    overflow: auto;
}

.dela {


    &__line {
        border: 1px solid #303030;
        margin: 2px 0 10px 0;
    }

    &__line-bottom {}

    &__block {}

    &__nam {
        margin-top: 10px;
        text-align: center;
        @include regular;
        font-size: 16px;
        text-shadow: 0.1px 0.1px #303030;
    }

    &__content {
        font-size: 14px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__description {
        text-align: justify;

    }

    &__modal {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background: rgba($color: #FFFFFF, $alpha: 0.5);

        width: 100%;
        height: 100%;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__modal-content {
        position: absolute;
        width: 400px;
        height: 400px;
        overflow: auto;
        border: 2px solid #303030;
        padding: 10px;
        background: white;
    }
}